<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index route</title>
</head>
<body>
    <nav>
        <a href="/items/new"> Add new items</a>
    </nav>
    <h1>STORE ITEMS LIST</h1>
    <%   products.forEach(product =>{ %>
        <ul>
            
        <li>
        <a href="/items/<%= products._id %>"><%=product.name %></a>
        </li>
        <%=product.description %></br>
        <%=product.img %> </br>
        PRICE: <%=product.price %> </br>
        <%=product.qty %> remaining
    </ul>
   <%    })%>

</html>