<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
        <a href="/items">Back To SHOP</a>
    </nav>

    <h1><%=product.name %> </h1>
    <div class="containershow">
    <%=product.description %></br>
  </div>
  <div class="imgs">
    <img src=<%=product.img %>> <br>
  </div>
    Price: <%=product.price %> </br>
    <%=product.qty %> remaining </br>
    <a href="/items/<%= product._id%>/edit">Edit this item</a>
  
    <form action="/items/<%= product._id%>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
  
    <% if (product.qty > 0) { %>
        <form action="/items/<%= product._id %>?_method=PUT" method="post">
          <input type="hidden" name="qty" value="<%= product.qty - 1 %>">
          <button>BUY</button>
        </form>
      <% } else { %>
        OUT OF STOCK
      <% } %>
    <!-- <button>BUY</button> -->
</body>
</html>

<!-- the number of items remaining in stock --> 