<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <nav>
        <a href="/items">Back To SHOP</a>
    </nav>
    <h1><%=product.name %> </h1>
    <%=product.description %></br>
    <img src=<%=product.img %>> <br>
    PRICE: <%=product.price %> </br>
    <%=product.qty %> remaining
    <form action="/items/<%= product._id%>?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
    </form>
</body>
</html>

<!-- Show Page
Your show page should display a product with:
a link back to the index page- CHECKED
a link to edit the product (goes to the edit page)
a delete button that deletes the product
the number of items remaining in stock -->
<!--  -->